<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OrderMapper">
    <select id="getUser" resultType="com.example.demo.pojo.UserAndOrder">
        select u.id,u.name,u.age,u.email,o.id,o.order_number,o.money,o.user_id
        from  user u
                 left join `order` o on u.id = o.user_id
        where u.id = #{id};
    </select>

    <update id="update">
        update `order` set id=#{id},order_number=#{orderNumber},money=#{money},user_id=#{userId} where id=#{id}
    </update>

    <delete id="delete">
        delete from `order` where id = #{id}
    </delete>

    <delete id="save">
        insert into `order`(id,order_number,money,user_id)values(#{id},#{orderNumber},#{money},#{userId})
    </delete>

    <select id="findAllOrder" resultType="com.example.demo.pojo.Order">
        select * from `order`
    </select>
</mapper>